.contacts__item {
  display: flex;
  align-items: center;
  margin: 5px;
}

.contacts__img-items {
  margin: 30px;
}

.contacts__info {
  width: 450px;
  padding: 10px;
}

.contacts__info-title {
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 24px;
  align-items: start;
}

.contacts__info-text {
  font-size: 16px;
  line-height: 20px;
  align-items: start;
}