* {
    box-sizing: border-box;
    flex-wrap: wrap;
    outline: none;
  }
  
  body {
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    padding: 0 15px;
    margin: 0 auto;
  }
  
 
  
  
  
  .btn__link {
    text-decoration: none;
    border: 2px solid;
    color: #cc9748;
    padding: 5px 10px;
  }
  
  .border-top {
    border-top: 1px solid white;
  }
  
  .border-bottom {
    border-bottom: 1px solid white;
  }


  .account_title {
    color: white;
    text-align: center;
    font-size: 24px;
    background-image: 28px;
    border-top: 1px solid white;
    padding-top: 20px;
  }
  
  .sidebar {
    display: flex;
  }
  
  .sidebar__items {
    margin: 15px 0;
    padding: 0;
    width: 210px;
    background-color: white;
    height: max-content;
    overflow: auto;
    display: flex;
    flex-direction: column;
  
  }
  
  .sidebar__item {
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    color: black;
    border: 1px solid black;
    padding: 15px;
    margin: 2px;
  }
  
  .sidebar__item:hover {
  background-color: rgba(73, 73, 73, 0.7);
  color: white;
  }
  
  .sidebar__home-item {
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    color: black;
    border: 1px solid black;
    padding: 15px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sidebar__home-item:hover {
    background-color: rgba(73, 73, 73, 0.7);
    color: white; ;
  }
  
  
  .active-sidebar {
    background-color:rgba(73, 73, 73, 0.7);
    color: white;
  }
  
  
  .account {
    padding-bottom: 100px;
    width: 1010px;
    margin-left:auto ;
  }
  
  
  .account__title {
    font-size: 26px;
    line-height: 28px;
    padding: 15px 20px;
    text-align: center;
    color: black;
  }
  
  .account-text {
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    margin-top: 20px;
  }
  
  .account__items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  
  .profile__table {
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .profile__table-items th {
    background: rgba(0, 0, 0, 0.15);
  }
  
  .profile__table-item {
    border: 1px solid grey;
    padding: 10px;
    cursor: pointer;
    vertical-align: top;
  }
  
  .request__table-item {
    text-align: center;
    border: 1px solid grey;
    padding: 5px;
    cursor: pointer;
  }
  
  .request-input {
    max-width: 180px;
    text-align: center;
  }
  
  .profile__btn {
    background-color: rgb(150, 150, 150);
    color: whitesmoke;
    font-size: 18px;
    line-height: 20px;
    padding: 13px 48px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .profile__btn:hover {
    background-color: rgb(1, 150, 1);
    color: white;
  }
  
  
  